{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->


<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="jumbotron">
                <p>This is all the output:</p>
                <iframe src="{{ url_for('create_mag') }}" class="col-lg-12 col-md-10 mx-auto mag-log"></iframe>
                <button class="btn btn-primary btn-lg btn-block">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}