<body style="background: url('http://images.unsplash.com/photo-1534841090574-cba2d662b62e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fHNwYWNlfGVufDB8MXwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="padding:10%;color:white;">
                <div class="jumbotron rounded">
                    <h1>Welcome to the latest issue of now<br>(The time you downloaded it)</h1>
                    <table class="table bg-light rounded" style="margin-top:10%;font-size:2rem">
                          <thead>
                            <tr>
                                <th colspan="2">Table of Contents</th>
                            </tr>
                          </thead>
                        <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td colspan="2" class="table-active">Quotes</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td colspan="2" class="table-active">True/False Trivia</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2" class="table-active">Latest Blog Post</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
