{% extends "newsletter/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="padding:10%;color:white;">
                <div class="jumbotron rounded">
                    <h1 class="flash_news_title">Quote Time!!</h1>
                    <ol>
                    {% for quote in all_data['quotes']:  %}
                        <li style="padding:2%">
                            <h5 style="color:white;">"{{ quote["text"] }}"</h5><h6 style="color: lightslategray;">{{ quote["author"] }}</h6>
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}