.info-img {
    width: 50%;
    padding: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-card {
    width: 100%;
}

.carousel-pad {
    padding: 14rem;
}

.carousel-text {
    color: white;
    mix-blend-mode: difference;
}

.carousel-text:after {
    /* This value is the OPPOSITE color of our background */
    color: rgb(0, 0, 0); 
    mix-blend-mode: difference;
}


.mag-log {
    border-radius: 0.1rem;
    background-color: #F8F8F8;
    margin: 2rem;
    padding: 8rem;
}
