.info-img {
    width: 50%;
    padding: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-card {
    width: 100%;
}

.carousel-pad {
    padding: 14rem;
}

.carousel-text {
    color:goldenrod
}