{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="jumbotron">
                <img class="info-img center" src="{{ url_for('static', filename='galactic blog/img/book.svg') }}">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('magazine', action='download') }}">Download
                    the
                    latest Edition of NOW</a>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}