{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

{% include "header.html" %}
  <!-- Page Header -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content jumbotron">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                 <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
          {% endwith %}
          <h3 class="flash_news_title">Welcome Back!</h3>
          <img class="info-img center" src="{{ url_for('static', filename='galactic blog/img/login_img.svg') }}">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</body>

{% include "footer.html" %}
{% endblock %}