{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->


<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="jumbotron">
                <h3 class="flash_news_title">Hello!</h3>
                <img class="info-img center" src="{{ url_for('static', filename='site-images/register.svg') }}"> {{
                wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}